#register_password_toggler,#confirm_password_toggler{
    position: absolute;
    right:16px;
    top:50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.opacity-5{
    opacity: 0.5;
}
.underline{
    text-decoration: underline !important;
    text-decoration-thickness: 4px !important;
    text-underline-offset: 6px;
}